$color-dark: #323232;
$color-light-grey :#848E97;
$color-light: #FFF;
$color-light-serpentine: #8D81AC;
$display-flex: flex;
$border-solid-1px: 1px solid;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
